{% load static wagtailuserbar %}
{% load wagtailcore_tags %}


<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">


        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/my_website.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div class="content menubar">
            <h3>
                <a href="{% slugurl 'portfolio-homepage' %}">Portfolio</a>
                
                <a href="{% slugurl 'resumé' %}">Resumé</a>
                
                <a href="{% slugurl 'apps' %}">Apps</a>
                
                <a href="{% slugurl 'contact' %}">Contact</a>
                
                <a href="{% slugurl 'blog' %}">Blog</a>
                
                {% block menubar %}{% endblock %}
            </h3>
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/my_website.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
