{% extends "portfolio/portfolio.html" %}

{% load static wagtailcore_tags %}

{% block content %}
<div class="splash-container">
    <div class="splash-title">
        <header class="">
            <h1>Hello</h1>
            <h2>I’m Tomasz, a Full Stack Developer.</h2>
        </header>
    </div>
    <div class="splash-description">
        <section class="section-splash">
            I enjoy building web apps with Django. I’m currently based in Wroclaw, Poland and available for hire.
            <section>
                <a href="{% slugurl 'cv' %}" class="btn-link">CV</a>
                <a href="{% slugurl 'contact' %}" class="btn-link">Contact</a>
            </section>
        </section>
        <section class="section-splash">
            I have a wide skill set in database design and data processing thanks to my background in geoinformatics. 
            I like to experiment with different programming tools. Have a look at my apps showcase.
            <section>
                <a href="{% slugurl 'projects' %}" class="btn-link">Projects</a>
            </section>  
        </section>
        <section class="section-splash">
            In terms of web design, I strongly believe in the “less is more” motto. I find my inspiration in photography,
            it's also a way to exercise my design sense.
            <section>
                <a href="http://secretraisinperson.tumblr.com/" class="btn-link">Photography</a>
            </section>
        </section>
    </div>
</div>
{% endblock %}