{% extends "portfolio/portfolio.html" %}

{% load static wagtailcore_tags %}

{% block content %}

<style>

</style>
    <h1>{{ page.title }}</h1>
    <div id="resume">
        <header>
            <div>
                <h1>{{ cv.basics.name }}</h1>
                <h2>{{ cv.basics.label }}</h2>
            </div>
        </header>
        {% if cv.basics.summary %}
            <section class="section">
                <h2 class="section-title">Profile</h2>
                <section class="resume-content">
                    <p>
                        {{ cv.basics.summary }}
                    </p>
                </section>
            </section>
        {% endif %}
        {% if cv.work %}
            <section class="section">
                <h2 class="section-title">Work Experience</h2>
                <section id="work" class="resume-content">
                    {% for workplace in cv.work %}
                    <header>
                        <h3 class="name">
                            {{ workplace.name }}
                        </h3>
                        <div class="date">
                            <span class="startDate">
                                {{ workplace.startDate }}
                            </span>
                            -
                            <span class="endDate">
                                {% if workplace.endDate %}
                                    {{ workplace.endDate }}
                                {% else %}
                                    Present
                                {% endif %}
                            </span>
                        </div>
                    </header>
                    <div class="item">
                            <div class="position">
                                {{ workplace.position }}
                            </div>
                            <div class="summary">
                                {{ workplace.summary }}
                            </div>
                            <ul class="highlights">
                                {% for highlight in workplace.highlights %}
                                    <li>{{ highlight }}</li>
                                {% endfor %}
                            </ul>
                    </div>
                    {% endfor %}
                </section>
            </section>
        {% endif %}
        {% if cv.education %}
            <section class="section">
                <h2 class="section-title">Education</h2>
                <section id="education" class="resume-content">
                    {% for edu in cv.education %}
                    <header>
                        <h3 class="institution">
                            {{ edu.institution }}
                        </h3>
                        <div class="date">
                            <span class="startDate">
                                {{ edu.startDate }}
                            </span>
                            -
                            <span class="endDate">
                                {% if edu.endDate %}
                                    {{ edu.endDate }}
                                {% else %}
                                    Present
                                {% endif %}
                            </span>
                        </div>
                    </header>
                    <div class="item">
                            <div class="studyType">
                                {{ edu.studyType }}
                            </div>
                            <div class="area">
                                {% if edu.area %}
                                    Field of study: {{ edu.area }}
                                {% endif %}
                                {% if edu.specialisation %}
                                    , Specialisation: {{ edu.specialisation }}
                                {% endif %}
                            </div>
                            {% if edu.description %}
                                <div class="summary">
                                    {{ edu.description }}
                                </div>
                            {% endif %}
                    </div>
                    {% endfor %}
                </section>
            </section>
        {% endif %}
        {% if cv.volunteer %}
            <section class="section">
                <h2 class="section-title">Volunteering</h2>
                <section id="work" class="resume-content">
                    {% for volunteer in cv.volunteer %}
                    <header>
                        <h3 class="name">
                            {{ volunteer.organization }}
                        </h3>
                        <div class="date">
                            <span class="startDate">
                                {{ volunteer.startDate }}
                            </span>
                            -
                            <span class="endDate">
                                {% if volunteer.endDate %}
                                    {{ volunteer.endDate }}
                                {% else %}
                                    Present
                                {% endif %}
                            </span>
                        </div>
                    </header>
                    <div class="item">
                            <div class="position">
                                {{ volunteer.position }}
                            </div>
                            <div class="summary">
                                {{ volunteer.summary }}
                            </div>
                            <ul class="highlights">
                                {% for highlight in volunteer.highlights %}
                                    <li>{{ highlight }}</li>
                                {% endfor %}
                            </ul>
                    </div>
                    {% endfor %}
                </section>
            </section>
        {% endif %}
        {% if cv.skills %}
            <section class="section">
                    <h2 class='section-title'>Skills</h2>
                    <section id="skills" class="resume-content">
                        {% for skill in cv.skills %}
                            <div class="item">
                                <div class="name">
                                    {{ skill.name }}
                                </div>
                                <ul class="keywords">
                                    {% for keyword in skill.keywords %}
                                        <li>{{ keyword }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </section>
            </section>
        {% endif %}
        {% if cv.languages %}
        <section class="section">
                <h2 class='section-title'>Languages</h2>
                <section id="languages" class="resume-content">
                    {% for language in cv.languages %}
                        <div class="item">
                            <div class="language">
                                {{ language.language }}
                            </div>
                            <div class="fluency">
                                <em>{{ language.fluency }}</em>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            </section>
        {% endif %}
        {% if cv.interests %}
        <section class="section">
                <h2 class='section-title'>Interests</h2>
                <section id="languages" class="resume-content">
                    {% for interest in cv.interests %}
                        <div class="item">
                            <div class="name">
                                {{ interest }}
                            </div>
                        </div>
                    {% endfor %}
                </section>
            </section>
        {% endif %}
    </div>







    
{% endblock %}