{% extends "blog/blog.html" %}

{% load wagtailcore_tags %}

{% block content %}
{% if request.GET.tag|length %}
    <h1>{{ page.title }}</h1>
    <h4>Pages tagged "{{ request.GET.tag }}"</h4>


    {% for blogpage in blogpages %}
    <p>
        <strong><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></strong>
        <small>Created: {{ blogpage.date }}</small>
        {% if blogpage.author %}
            <p>Author: {{ blogpage.author.profile }}</p>
        {% endif %}
    </p>
    {% empty %}
    No pages found with that tag.
    {% endfor %}
{% elif tags|length > 0 %}
    <h1>{{ page.title }}</h1>

    <p>
        <h4>All tags used on the blog:</h4>
    </p>
    {% for tag in tags %}
        <a href="{% slugurl 'tags' %}?tag={{ tag }}" class="btn-link">{{ tag }}</a>
    {% endfor %}

{% endif %}


{% endblock %}