{% extends "blog/blog.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <section class="post">
        <header>
            <h1>
                    {{ page.title }}
            </h1>
            <div class="date">
                    <span class="date">{{ page.date }}</span>
            </div>
            <div class="tags">
                <h3>
                    Tags:
                </h3>
                {% if page.tags.all.count %}
                    {% for tag in page.tags.all %}
                        <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
                    {% endfor %}  
                {% endif %}
            </div>
        </header>

        <p class="intro">
            {{ page.intro }}
        </p>

        {{ page.body|richtext }}


        <p><a href="{% slugurl 'blog' %}">Return to blog</a></p>
    </section>
{% endblock %}