{% extends "blog/blog.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    
    {% for post in blogpages %}
    <div>
        <section class="post">
            <header>
                <h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>
                <div class="date">
                    <span class="date">{{ post.specific.date }}</span>
                </div>
            </header>
            <p class="intro">
                {{ post.specific.intro }}
            </p>
            {{ post.specific.body|richtext }}
        </section>
    </div>
    {% endfor %}
{% endblock %}