{% extends "portfolio/portfolio.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}
template-appsindexpage
{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {% for app in apps %}
    <div>
        <section class="post">
        <h2>{{ app.specific.app_name }}</h2>
        {% image app.specific.feed_image width-700  %}
        <p>
            {% if app.specific.github_url %}
                <a class="btn-link" href="{{ app.specific.github_url }}">GitHub</a>
            {% endif %}

            {% if app.specific.app_url %}
                <a class="btn-link" href="{{ app.specific.app_url }}">App</a>
            {% endif %}

            {% if app.specific.presentation_url %}
                <a class="btn-link" href="{{ app.specific.presentation_url }}">Presentation</a>
            {% endif %}
        </p>
        <h3>About:</h3>
        <p>{{ app.specific.intro }}</p>
        <h3>Features:</h3>
        <p>{{ app.specific.features|richtext }}</p>
        </section>
    </div>
    {% endfor %}

{% endblock %}