{% extends "portfolio/portfolio.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-contactpage{% endblock %}

{% block content %}

<h1>{{ page.title }}</h1>
<section class="post">
    <h2>Profiles:</h2>
    <div class="profile">
        <span class="fa"><i class="fab fa-linkedin-in"></i></span>
        <span><a href="https://www.linkedin.com/in/tomasz-przybyłek-91b3019a">LinkedIn</a></span>
    </div>
    <div class="profile">
        <span class="fa"><i class="fab fa-github"></i></span>
        <span><a href="https://github.com/tprzybylek">GitHub</a></span>
    </div>
    <div class="profile">
        <span class="fa"><i class="fab fa-stack-overflow"></i></span>
        <span><a href="https://stackoverflow.com/users/3969204/tomasz-przyby%C5%82ek">Stack Overflow</a></span>
    </div>
</section>
<section class="post">
    <h2>Send me a message:</h2>
    <form action="{% pageurl page %}" method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
</section>

{% endblock %}